{% extends "entry/base.html" %}
{% block title %}
    <title>Viewing Finances</title>
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class="text-center">View Finances</h1>
    <div class='row'>
        <div class='col-md-6'>
            <div class='plotly-graph-div'>{{ bar_chart|safe }}</div>
        </div>
        <div class='col-md-6'>
            <div class='plotly-graph-div'>{{ line_chart|safe }}</div>
        </div>
    </div>
    <h2 class="text-center">Transactions</h2>
    <div class="mb-3 text-center">
        <p class="text-center">Total Income: {{ total_income }} - Total Expenses: {{ total_expenses }}</p>
        <label for="order-by" class="form-label">Order by:</label>
        <div class="btn-group">
            <a href="{% url 'view-finances' %}" class="btn btn-primary {% if current_order_by == 'month' %}active{% endif %}">
                <i class="bi bi-calendar"></i> Date
            </a>
            <button id="search-toggle" class="btn btn-primary {% if current_order_by == 'search' %}active{% endif %}">
                <i class="bi bi-search"></i> Search
            </button>
        </div>
    </div>
    <form class="mb-4 text-center" id="search-form" method="get" action="{% url 'finances-search' %}" style="display: none;">
        <div class='row justify-content-center'>
            <div class='col-md-4'>
                <div class='text-center'>
                    {{ form.start_date|as_crispy_field }}
                </div>
            </div>
            <div class='col-md-4'>
                <div class='text-center'>
                    {{ form.end_date|as_crispy_field }}
                </div>
            </div>
            <div class='col-md-1 mt-3'>
                <button class='btn btn-primary' type="submit">Search</button>
            </div>
        </div>
    </form>
    {% if transactions %}
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Transaction ID</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        {% if transaction.category.group == 'deposit' %}
                            <td><a class="text-center" href="{% url 'deposit-detail' transaction.id %}">{{ transaction.id }}</a></td>
                            <td><a class="text-center" href="{% url 'deposit-detail' transaction.id %}">{{ transaction.date }}</a></td>
                            <td><a class="text-center" href="{% url 'deposit-detail' transaction.id %}">{{ transaction.category }}</a></td>
                            <td><a class="text-center" href="{% url 'deposit-detail' transaction.id %}">{{ transaction.description }}</a></td>
                            <td><a class="text-center text-success" href="{% url 'deposit-detail' transaction.id %}">Deposit</a></td>
                            <td><a class="text-center" href="{% url 'deposit-detail' transaction.id}">{{ transaction.amount }}</a></td>

                        {% elif transaction.category.group == 'expense' %}
                            <td><a class="text-center" href="{% url 'expense-detail' transaction.id %}">{{ transaction.id }}</a></td>
                            <td><a class="text-center" href="{% url 'expense-detail' transaction.id %}">{{ transaction.date }}</a></td>
                            <td><a class="text-center" href="{% url 'expense-detail' transaction.id %}">{{ transaction.category }}</a></td>
                            <td><a class="text-center" href="{% url 'expense-detail' transaction.id %}">{{ transaction.description }}</a></td>
                            <td><a class="text-center text-danger" href="{% url 'expense-detail' transaction.id %}">Expense</a></td>
                            <td><a class="text-center" href="{% url 'deposit-detail' transaction.id}">{{ transaction.amount }}</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>    
    {% else %}
        <p class="text-center text-danger">No transactions have been made yet. Create deposits or expenses with the Manage Deposits or Manage Expenses button, then come back!</p>
    {% endif %}
    <div class="pagination">
        <span class="step-links">
            {% if transactions.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ transactions.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}.
            </span>
    
            {% if transactions.has_next %}
                <a href="?page={{ transactions.next_page_number }}">next</a>
                <a href="?page={{ transactions.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
        <div class="mb-3 float-end">
            <label for="deposits-per-page" class="form-label">Deposits per page:</label>
            <select name="deposits-per-page" id="deposits-per-page" class="form-select" onchange="changeDepositsPerPage(this.value)">
                <option value="10" {% if deposits_per_page == 10 %}selected{% endif %}>10</option>
                <option value="20" {% if deposits_per_page == 20 %}selected{% endif %}>20</option>
                <option value="50" {% if deposits_per_page == 50 %}selected{% endif %}>50</option>
            </select>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var searchToggle = document.getElementById("search-toggle");
            var searchForm = document.getElementById("search-form");

            searchToggle.addEventListener("click", function() {
                if (searchForm.style.display === "none") {
                    searchForm.style.display = "block";
                } else {
                    searchForm.style.display = "none";
                }
            });

            function changeDepositsPerPage(value) {
                window.location.href = `?page=1&deposits-per-page=${value}`;
            }
        });
    </script>
{% endblock content %}
