{% extends "entry/base.html" %}
{% block title %}
    <title>Deposit - {{ deposit.pk }}</title>
{% endblock title %}
{% block content %}
    <div class="text-center">
        <h1 class="mb-3">Deposit - {{ deposit.pk }}</h1>
        <p>Date: {{ deposit.date }}</p>
        <p>Category: {{ deposit.category }}</p>
        <p>Description: {{ deposit.description }}</p>
        <p>Description: {{ deposit.description }}</p>
        <p>Amount: {{ deposit.amount }}</p>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update-deposit' deposit.pk %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete-deposit' deposit.pk %}">Delete</a>
        <a class="btn btn-outline-secondary btn-sm mt-1 mb-1" href="{% url 'deposit-home' %}">Go Back</a>
    </div>
{% endblock content %}
