{% extends "entry/base.html" %}
{% block title %}
    <title>Managing Deposits</title>
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class='text-center pb-2'>Manage Deposits</h1>
    <div class='text-center'>
        <div class="align-items-center">
            <a class='btn btn-primary btn-outline-primary p-1 mb-2 mt-1 ml-1' href="{% url  'create-deposit' %}">Create Deposit</a>
            <a class='btn btn-primary btn-outline-primary p-1 mb-2 mt-1 ml-1' href="{% url  'create-category' %}">Create Category</a>
            <select name='selected_category' id='category-select' class='btn btn-primary form-select-lg ml-1 mt-1 mb-2'>
                {% for category in categories %}
                    <option value='{{ category.pk }}'>{{ category.name }}</option>
                {% endfor %}
            </select>
            {% if categories %}
                <button id='category-update-btn' class='btn btn-seconcary btn-sm ml-1 mt-1 mb-2 p-1' {% if not categories %}disabled{% endif %}>Update Category</button>
                <button id='category-delete-btn' class='btn btn-danger btn-sm ml-1 mt-1 mb-2 p-1' {% if not categories %}disabled{% endif %}>Delete Category</button>
            {% endif %}
        </div>
        <div class="mt-1">
            <h2 class="deposit-heading text-center">Deposits:</h2>
            <div class="mb-3 text-center">
                <label for="order-by" class="form-label">Order by:</label>
                <div class="btn-group">
                    <a href="{% url 'deposit-home' %}" class="btn btn-primary {% if current_order_by == 'date' %}active{% endif %}">
                        <i class="bi bi-calendar"></i> Date
                    </a>
                    <a id="search-toggle" class="btn btn-primary {% if current_order_by == 'search' %}active{% endif %}">
                        <i class="bi bi-search"></i> Search
                    </a>
                </div>
            </div>
            <form class="mb-3" id="search-form" method="get" action="{% url 'deposit-home' %}" style="display: none;">
                <div class='row justify-content-center'>
                    <h3 class="text-center">Search By Deposit ID or Date</h3>
                    <h4 class="text-center">Search By Deposit ID</h4>
                    <div class='col-md-4'>
                        <div class='text-center'>
                            {{ form.deposit_id|as_crispy_field }}
                        </div>
                    </div>
                    <h4 class="text-center">Search By Date</h4>
                    <div class='col-md-4'>
                        <div class='text-center'>
                            {{ form.start_date|as_crispy_field }}
                        </div>
                    </div>
                    <div class='col-md-4'>
                        <div class='text-center'>
                            {{ form.end_date|as_crispy_field }}
                        </div>
                    </div>
                    <div class='col-md-1 mt-3'>
                        <button class='btn btn-primary' type="submit">Search</button>
                    </div>
                </div>
            </form>
            <div class='plotly-graph-div'>{{ chart|safe }}</div>
            {% if deposits %}
                <table class="table">
                    <thead>
                        <tr>
                            <th class="deposit-table">Deposit ID</th>
                            <th class="deposit-table">Date</th>
                            <th class="deposit-table">Category</th>
                            <th class="deposit-table">Description</th>
                            <th class="deposit-table">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for deposit in deposits %}
                            <tr>
                                <td><a href="{% url 'deposit-detail' deposit.pk %}" class="deposit-link deposit-table">{{ deposit.pk }}</a></td>
                                <td><a href="{% url 'deposit-detail' deposit.pk %}" class="deposit-link deposit-table">{{ deposit.date }}</a></td>
                                <td><a href="{% url 'deposit-detail' deposit.pk %}" class="deposit-link deposit-table">{{ deposit.category }}</a></td>
                                <td><a href="{% url 'deposit-detail' deposit.pk %}" class="deposit-link deposit-table">{{ deposit.description }}</a></td>
                                <td><a href="{% url 'deposit-detail' deposit.pk %}" class="deposit-link deposit-table">{{ deposit.amount }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination">
                    <span class="step-links">
                        {% if deposits.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ deposits.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="current">
                            Page {{ deposits.number }} of {{ deposits.paginator.num_pages }}.
                        </span>
                        {% if deposits.has_next %}
                            <a href="?page={{ deposits.next_page_number }}">next</a>
                            <a href="?page={{ deposits.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                    <div class="mb-3 float-end">
                        <label for="deposits-per-page" class="form-label">Deposits per page:</label>
                        <select name="deposits-per-page" id="deposits-per-page" class="form-select" onchange="changeDepositsPerPage(this.value)">
                            <option value="10" {% if deposits_per_page == 10 %}selected{% endif %}>10</option>
                            <option value="20" {% if deposits_per_page == 20 %}selected{% endif %}>20</option>
                            <option value="50" {% if deposits_per_page == 50 %}selected{% endif %}>50</option>
                        </select>
                    </div>
                </div>
            {% else %}
                <p class='text-center text-danger'>No deposits have been made yet. Please use the Create Deposit button above to add deposits!</p>
            {% endif %}
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var categorySelect = document.getElementById("category-select");
            var updateBtn = document.getElementById("category-update-btn");
            var deleteBtn = document.getElementById("category-delete-btn");
            var searchToggle = document.getElementById("search-toggle");
            var searchForm = document.getElementById("search-form");
            categorySelect.addEventListener("change", function() {
                if (categorySelect.value) {
                    updateBtn.disabled = false;
                    deleteBtn.disabled = false;
                } else {
                    updateBtn.disabled = true;
                    deleteBtn.disabled = true;
                }
            });
            updateBtn.addEventListener("click", function() {
                var selectedCategoryId = categorySelect.value;
                if (selectedCategoryId) {
                    window.location.href = `/financial/tracker/category/${selectedCategoryId}/update/`;
                }
            });
            deleteBtn.addEventListener("click", function() {
                var selectedCategoryId = categorySelect.value;
                if (selectedCategoryId) {
                    window.location.href = `/financial/tracker/category/${selectedCategoryId}/delete/`;
                }
            });
            searchToggle.addEventListener("click", function() {
                if (searchForm.style.display === "none") {
                    searchForm.style.display = "block";
                } else {
                    searchForm.style.display = "none";
                }
            });
            function changeDepositsPerPage(value) {
                window.location.href = `?page=1&deposits-per-page=${value}`;
            }
        });
    </script>
{% endblock content %}
