{% extends "entry/base.html" %}
{% block title %}
    <title>Registering</title>
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class="text-center pb-2">Register</h1>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.username|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.email|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.phone_number|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.password1|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.password2|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-group text-center">
                        <button id="registerButton" class="btn btn-outline-info" type="submit">Register</button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card-footer text-center py-3">
                        <div class="small"><a id="loginLink" href="{% url 'login' %}">Have an account? Click here to login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        // Auto formatting for phone numbers
        document.addEventListener('DOMContentLoaded', function() {
            const phoneNumberInput = document.getElementById('id_phone_number');

            phoneNumberInput.addEventListener('input', function() {
                // Remove any non-digit characters from the input value
                const phoneNumber = phoneNumberInput.value.replace(/\D/g, '');

                // Format the phone number with dashes
                const formattedPhoneNumber = formatPhoneNumber(phoneNumber);

                // Update the input value with the formatted phone number
                phoneNumberInput.value = formattedPhoneNumber;
            });

            function formatPhoneNumber(phoneNumber) {
                let formattedPhoneNumber = '';

                // Add country code if available
                if (phoneNumber.length > 10) {
                    formattedPhoneNumber += phoneNumber.substring(0, phoneNumber.length - 10) + '-';
                    phoneNumber = phoneNumber.substring(phoneNumber.length - 10);
                }

                // Add area code
                if (phoneNumber.length >= 4) {
                    formattedPhoneNumber += phoneNumber.substring(0, 3) + '-';
                    phoneNumber = phoneNumber.substring(3);
                }

                // Add remaining numbers with dashes
                if (phoneNumber.length > 3) {
                    formattedPhoneNumber += phoneNumber.substring(0, 3) + '-';
                    phoneNumber = phoneNumber.substring(3);
                }

                // Add the rest of the number
                formattedPhoneNumber += phoneNumber;

                return formattedPhoneNumber;
            }
        });
    </script>
{% endblock content %}
