{% extends "entry/base.html" %}
{% block title %}
    <title>Updating Information</title>
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class="text-center pb-2">Update Information</h1>
    <form method="post" action="{% url 'update-user' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-center">
            <!-- Update user link-->
            <button id="updateUserButton" class="btn btn-outline-info mr-2" type="submit">Update Information</button>
            <!-- Change password link -->
            <a id="changePasswordLink" class="btn btn-primary btn-outline-secondary mr-2" href="{% url 'change-password' %}">Change Password</a>
            <!-- Delete user button -->
            <a id="deleteUserLink" class="btn btn-primary btn-outline-danger" href="{% url 'delete-user' %}">Delete User</a></div>
    </form>
{% endblock content %}
