{% extends "entry/base.html" %}
{% block title %}
    <title>Viewing Finances</title>
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class="text-center">View Finances</h1>
    <div class='row'>
        <div class='col-md-6'>
            <div class='plotly-graph-div'>{{ bar_chart|safe }}</div>
        </div>
        <div class='col-md-6'>
            <div class='plotly-graph-div'>{{ line_chart|safe }}</div>
        </div>
    </div>
    <h2 class="text-center">Transactions</h2>
    <div class="mb-3 text-center">
        <p class="text-center">Total Income: {{ total_income }} - Total Expenses: {{ total_expenses }}</p>
    </div>
    {% if transactions %}
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Transaction ID</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">Amount</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for transaction in transactions %}
                    <tr>
                        {% if transaction.category.group == 'deposit' %}
                            <td><a class="text-center" href="{% url 'deposit-detail' transaction.id %}">{{ transaction.id }}</a></td>
                            <td><a class="text-center" href="{% url 'deposit-detail' transaction.id %}">{{ transaction.date }}</a></td>
                            <td><a class="text-center" href="{% url 'deposit-detail' transaction.id %}">{{ transaction.category }}</a></td>
                            <td><a class="text-center" href="{% url 'deposit-detail' transaction.id %}">{{ transaction.description }}</a></td>
                            <td><a class="text-center text-success" href="{% url 'deposit-detail' transaction.id %}">Deposit</a></td>
                            <td><a class="text-center" href="{% url 'deposit-detail' transaction.id %}">{{ transaction.amount }}</a></td>

                        {% elif transaction.category.group == 'expense' %}
                            <td><a class="text-center" href="{% url 'expense-detail' transaction.id %}">{{ transaction.id }}</a></td>
                            <td><a class="text-center" href="{% url 'expense-detail' transaction.id %}">{{ transaction.date }}</a></td>
                            <td><a class="text-center" href="{% url 'expense-detail' transaction.id %}">{{ transaction.category }}</a></td>
                            <td><a class="text-center" href="{% url 'expense-detail' transaction.id %}">{{ transaction.description }}</a></td>
                            <td><a class="text-center text-danger" href="{% url 'expense-detail' transaction.id %}">Expense</a></td>
                            <td><a class="text-center" href="{% url 'deposit-detail' transaction.id %}">{{ transaction.amount }}</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center text-danger">No transactions have been made yet. Create deposits or expenses with the Manage Deposits or Manage Expenses button, then come back!</p>
    {% endif %}
    <div class="pagination">
        <span class="step-links">
            {% if transactions.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ transactions.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}.
            </span>

            {% if transactions.has_next %}
                <a href="?page={{ transactions.next_page_number }}">next</a>
                <a href="?page={{ transactions.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
        <div class="mb-3 float-end">
            <label for="transactions-per-page" class="form-label">Transactions per page:</label>
            <select name="transactions-per-page" id="transactions-per-page" class="form-select" onchange="changeTransactionsPerPage(this.value)">
                <option value="10" {% if transactions_per_page == 10 %}selected{% endif %}>10</option>
                <option value="20" {% if transactions_per_page == 20 %}selected{% endif %}>20</option>
                <option value="50" {% if transactions_per_page == 50 %}selected{% endif %}>50</option>
            </select>
        </div>
    </div>
{% endblock content %}
