{% extends "entry/base.html" %}
{% block title %}
    <title>Deleting Account</title>
{% endblock title %}
{% block content %}
    <h1 class="text-center pb-2">Delete User</h1>
    <p class="text-center">Are you sure you want to delete your account?</p>
    <form method="post" action="{% url 'delete-user' %}">
        {% csrf_token %}
        <div class="d-flex justify-content-center">
            <button class="btn btn-outline-info mr-2" type="submit">Yes, Delete</button>
            <a class="btn btn-outline-secondary" href="{% url 'update-user' %}">Go Back</a>
        </div>
    </form>
{% endblock content %}
