{% extends "entry/base.html" %}
{% block title %}
    <title>Adding Category</title>
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <div class='content-section'>
        <form method='POST' action="{% url 'create-category' group %}">
            {% csrf_token %}
            <fieldset class='form-group'>
                <legend class='border-bottom mb-4'>Create Category</legend>
                {{ form|crispy }}
            </fieldset>
            <div class='form-group'>
                <button id="createCategoryButton" class="btn btn-outline-info" type="submit">Create Category</button>
                <a id="backButton" class="btn btn-outline-secondary" href="{% if form.group.value == 'deposit' %}{% url 'deposit-home' %}{% elif form.group.value == 'expense' %}{% url 'expense-home' %}{% endif %}">Go Back</a>
            </div>
        </form>
    </div>
{% endblock content %}
