{% extends "entry/base.html" %}
{% block title %}
    <title>Deleting Category</title>
{% endblock title %}
{% block content %}
    <div class="content-section">
        <form method="post" action="{% url 'delete-category' category.pk %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Category</legend>
                <h2>Are you sure you want to delete the category "{{ category.name }}"?</h2>
            </fieldset>
            <div class='form-group'>
                <button id="deleteCategoryButton" class="btn btn-outline-info" type="submit">Delete Category</button>
                <a class="btn btn-outline-secondary" href="{% if group == 'deposit' %}{% url 'deposit-home' %}{% elif group == 'expense' %}{% url 'expense-home' %}{% endif %}">Go Back</a>
            </div>
        </form>
    </div>
{% endblock content %}
