{% extends "entry/base.html" %}
{% block title %}
    <title>Managing Categories</title>
{% endblock title %}
{% block content %}
    <h1 class='text-center pb-2'>Manage Categories</h1>
    <div>
        <a class='btn btn-primary btn-lg btn-outline-primary d-flex justify-content-center' href="{% url  'create-category' %}">Create Category</a>
        <table class='table d-flex justify-content-center'>
                <tr>
                    <th>Name</th>
                    <th>Group</th>
                </tr>
                {% for category in categories %}
                    <tr>
                        <a href="{% url 'category-detail' category.id %}">
                            <td>{{ category.name }}</td>
                            <td>{{ category.group }}</td>
                        </a>
                    </tr>
                {% endfor %}
        </table>
    </div>
{% endblock content %}