{% extends "entry/base.html" %}
{% block title %}
    <title>Managing Information</title>
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class="text-center pb-2">User Home</h1>
    <div class="d-flex justify-content-center pb-2">
        <!-- update user button -->
        <a class="btn btn-primary btn-sm btn-outline-secondary p-1 mb-2 mt-1 ml-1" href="{% url 'update-user' %}">Update Info</a>
        <!-- change password button -->
        <a class="btn btn-primary btn-sm btn-outline-secondary p-1 mb-2 mt-1 ml-1" href="{% url 'change-password' %}">Change Password</a>
        <!-- delete user button -->
        <a class="btn btn-primary btn-sm btn-outline-danger p-1 mb-2 mt-1 ml-1" href="{% url 'delete-user' %}">Delete User</a>
    </div>
    <div>
        <h2 class="text-center">Current Info:</h2>
        <p class="text-center">First Name: {{ user.first_name }}</p>
        <p class="text-center">Last Name: {{ user.last_name }}</p>
        <p class="text-center">Username: {{ user.username }}</p>
        <p class="text-center">Email: {{ user.email }}</p>
    </div>
{% endblock content %}
