{% extends "entry/base.html" %}
{% block title %}
    <title>Updating Information</title>
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class="text-center pb-2">Update Information</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-center">
            <button class="btn btn-outline-info mr-2" type="submit">Update Information</button>
            <a class="btn btn-outline-secondary" href="{% url 'user-home' %}">Go Back</a>
        </div>
    </form>
{% endblock content %}
