{% extends "entry/base.html" %}
{% block title %}
    <title>Deleting Expense</title>
{% endblock title %}
{% block content %}
    <div class="content-section">
        <form method="post" action="{% url 'delete-expense' expense.pk %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Expense</legend>
                <h2>Are you sure you want to delete the expense {{ expense.pk }} with date {{ expense.date }} and amount {{ expense.amount }}?</h2>
            </fieldset>
            <div class='form-group'>
                <button id="deleteExpenseButton" class="btn btn-outline-info" type="submit">Delete Expense</button>
                <a id="backButton" class="btn btn-outline-secondary" href="{% url 'expense-detail' expense.pk %}">Go Back</a>
            </div>
        </form>
    </div>
{% endblock content %}
